{% extends "home.html" %}

{% block title %}
  <title> Create Lobby </title>
{% endblock %}

{% block content %}
 <div class="box box-warning">
  <div class="box-header with-border">
    <h3 class="box-title">Complete the form for the lobby:</h3>
  <div class="box-body"> </div>
  <form method="post">

    <div class="form-group">
      <input name="lobbyname" type="text" class="form-control" placeholder="Lobby name" required>
    </div>

    <div class="form-group">
      <input name="lobbyrule" type="text" class="form-control" placeholder="Place a rule" required>
    </div>

    <div class="box-footer">
      <div class="pull-left">
        <button type="submit" class="btn btn-block btn-warning btn-sm">Submit</button>
      </div>
    </div>

  </form>
</div>
{% endblock %}

{% block lobbiesidebar %}
    <li class="active"><a href="/lobbies"><i class="glyphicon glyphicon-blackboard"></i> <span>Lobbies <b>(Create)</b></span></a></li>
{% endblock %}