{% extends "home2.html" %}

{% block title %}
  <title> Lobby {{lobbyname.lobbyname}} </title>
{% endblock %}

{% block content %}
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div id="ModifLobby" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Notification!</h4>
          </div>
          <div class="modal-body edit-content">
              Are you sure that you want to delete the lobby ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <form action="/lobbies/{{lobbyname.id}}" method="POST">
              <button class="btn btn-danger" id="NameToChange" name="">Delete</button>
            </form>
          </div>
      </div>
  </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="row">
<div class="col-xs-12">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-info text-info"></i> Lobby Info</div>
            <div class="panel-body">
            Lobby Name: <b>{{lobbyname.lobbyname}}</b> <br>
            Date Created: <b>{{lobbyname.created}}</b> <br>
            {% if session.logged_in %}
              <hr>
              <form action="/lobbies/{{lobbyname.id}}" method="POST">
                {% if joined %}
                  {% if session.sqlid == lobbyname.creator %}
                    <a class="btn btn-block btn-danger disabled">Can't leave</a>
                  {% else %}
                    <button name="leave" class="btn btn-block btn-danger">Leave</button>
                  {% endif %}
                {% else %}
                  {% if session.sqlid == lobbyname.creator %}
                    <a class="btn btn-block btn-danger disabled">Can't leave</a>
                  {% else %}
                    <button name="join" class="btn btn-block btn-success">Join</button>
                  {% endif %}
                {% endif %}
              </form>
              </hr>
            {% endif %}
          </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-info text-info"></i> Lobby Rules</div>
            <div class="panel-body">
              <ul>
                 <li>{{lobbyname.Rule}}</li>
              </ul>

            </div>
        </div>

        <hr>
    </div>

    <div class="col-xs-5">
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-group green text-success"></i> Lobby Members</div>
            <div class="panel-body table-responsive no-padding">
              <table class="table table-bordered">
                  <tbody>
                  <tr>
                    <th><i class="fa fa-address-card"></i> Name</th>
                    <th><i class="fa fa-clock-o"></i> Joined</th>
                  </tr>

                  </tr>
                    <td><a href="/profile/{{creatorname}}"> {{creatorname}} <b>(Creator)</b> </a></td>
                    <td> {{lobbyname.created}} </td>
                  </tr>
                  {% for item in data %}
                    <tr>
                        <td><a href="/profile/{{item.membername}}"> {{item.membername}} </a></td>
                        <td>{{item.joined}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>

    <div class="col-xs-4">
      {% if session.logged_in %}
         {% if session.sqlid == lobbyname.creator %}
          <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-info text-info"></i> Lobby Configure</div>
              <div class="panel-body">
                <div class="table-responsive">
                  <td>
                      <button name="changerule" class="btn btn-block btn-success btn-xs">Change Rules</button>
                      <button class="btn btn-block btn-danger btn-xs" data-toggle="modal" data-target="#ModifLobby" onclick="CustomFunction(1)">Reset Logs</button>
                      <button class="btn btn-block btn-danger btn-xs" data-toggle="modal" data-target="#ModifLobby" onclick="CustomFunction(0)"> Delete Lobby</button>
                  </td>
              </div>
            </div>
          </div>
          {% endif %}
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-list-alt text-info"></i> Lobby Logs</div>
            <div class="panel-body">
              <ul>
              {% for item2 in data_logs %}  
                <li>
                    {{item2.text}} <b>{{item2.date}} </b>
                </li>
              {% endfor %}
              </ul>
            </div>
        </div>

    </div>
</div>  
</div>

<script>
function CustomFunction(expresie) {
  switch(expresie)
  {
    case 0:
        var x = document.getElementById("NameToChange").name = "deletelobby";
        $("#ModifLobby .modal-body").html('Are you sure that you want to delete this lobby ?'); 
        break;
    case 1:
        var x = document.getElementById("NameToChange").name = "resetlogs";
        $("#ModifLobby .modal-body").html('Are you sure that you want to reset all the logs ?'); 
        break;
  }
}
</script>

{% endblock %}

{% block lobbiesidebar %}
    <li class="active"><a href="/lobbies"><i class="glyphicon glyphicon-blackboard"></i> <span>Lobbies ( {{lobbyname.lobbyname}} )</span></a></li>
{% endblock %}